<h1>About</h1>
<p>
	This is the about page I'm creating for One Month Rails. Here is a standard link to <%= link_to "One Month Rails", "http://onemonthrails.com" %> in order to teach <%= link_to "Ruby on Rails", "http://rubyonrails.com" %> to people in one month.

</p>

